.content-center
  .content-center-header
    Tour Info & Chat Space
  .content-center__tours
    %table.table-flame{:border=>1}
      %thead
        %tr
          %th.table-title 日程
          %th.table-title 大会名
          %th.table-title カテゴリ
      %tbody
        -@date_elements.zip(@match_elements, @category_elements).each do |date, name, category|
          %tr
            %td=date.inner_text
            %td=name.inner_text
            %td=category.inner_text 

  .content-center-header
    Tour Movies
  .content-center__tour-movies
    %iframe#much1{frameborder: "0", height:"250", src: "https://www.youtube-nocookie.com/embed/FzSqL3KSROw", type: "text/html", width: "100%"}
    %iframe#much1{frameborder: "0", height:"250", src: "https://www.youtube-nocookie.com/embed/rYESCsgFLXs", type: "text/html", width: "100%"}
    %iframe#much1{frameborder: "0", height:"250", src: "https://www.youtube-nocookie.com/embed/6_0SGjEvRbc", type: "text/html", width: "100%"}
