.content-center
  .content-center-header
    Tour Info & Chat Space
  .content-center__tours
    %ul
      %li 2020/01/20 – 02/02 全豪オープン 2000pt
      %li 2020/02/24 – 02/29 ドバイ・デューティフリー・テニス選手権 500pt
      %li 2020/03/12 – 03/22 BNPパリバ・オープン 1000pt
      %li 2020/05/10 – 05/17 BNLイタリア国際 1000pt
      %li 2020/05/24 – 06/07 全仏オープン 2000pt
      %li 2020/06/29 – 07/12 ウィンブルドン(全英オープン) 2000pt
      %li 2020/07/25 – 08/02 東京2020オリンピック
      %li 2020/08/16 – 08/23 ウエスタン＆サザン・オープン 1000pt
      %li 2020/08/31 – 09/13 全米オーブン 2000pt
      %li 2020/10/05 – 10/11 楽天ジャパンオープン 500pt
      %li 2020/10/11 – 10/18 ロレックス上海マスターズ 1000pt


  .content-center-header
    Tour Movies
  .content-center__tour-movies
    %iframe#much1{frameborder: "0", height:"250", src: "https://www.youtube-nocookie.com/embed/FzSqL3KSROw", type: "text/html", width: "100%"}
    %iframe#much1{frameborder: "0", height:"250", src: "https://www.youtube-nocookie.com/embed/rYESCsgFLXs", type: "text/html", width: "100%"}
    %iframe#much1{frameborder: "0", height:"250", src: "https://www.youtube-nocookie.com/embed/6_0SGjEvRbc", type: "text/html", width: "100%"}
