.content-left
  .content-left-header
    Tennis Info
  .content-left__news
    - @news_elements.each do|news|
      - current_user.player.each do |player|
        - if news.inner_text.include?(player.name_search_1)
          - link = "http://news.tennis365.net" + news.get_attribute('href')
          %li
            = link_to news.inner_text, link, class:"news-link"

  .content-left-header
    Item Info
  .content-left__items-news
    - @product_elements.each do|product|
      - product_link = "https://www.yonex.co.jp" + product.get_attribute('href')
      %li.product-content
        = link_to product.inner_text, product_link

  .content-left-header
    Racket Review
  .content-left__youtube
    %iframe#player1{frameborder: "0", height:"200", src: "https://www.youtube-nocookie.com/embed/wbK0QfshPUw", type: "text/html", width: "100%"}
    %iframe#player2{frameborder: "0", height:"200", src: "https://www.youtube-nocookie.com/embed/HeUivLNRiTQ", type: "text/html", width: "100%"}