.content-start
  %h1.subtitle-text{ style: "display: none"} ここから始まる 楽しいテニス生活。
  %h2.discription{ style: "display: none"} 大会情報 / 大会動画 / テニスラケット / etc...
  .content-start__register-btn
    = link_to '/users/sign_up', class: "start-btn-text" do
      %span 始める