.content-chat-body
  .content-chat-body__side-bar
    %h ツアー名
    %li
      = link_to "ウィンブルドン", "#", class: "tour-name"
  .content-chat-body__chat-main
    .chat-header
      大会名：
      大会詳細：
      前大会優勝者：
      画像
    .messages
      .message
        .upper-info 
          .upper-info__talker
            okkun
          .upper-info__post-time
            2020/01/22 16:00:00
        .post-message
          message1
    .form
      .input-form
        .input-form__text
          input a message
      .submit-btn
        Send
