* {
  box-sizing: border-box;
}
.notice{
  font-size: 13px;
  color: white;
  font-weight: bold;
  background-color: #3CCACE;
  width: 100%;
  text-align: center;
}
.alert {
  font-size: 13px;
  color: white;
  font-weight: bold;
  background-color: #ed6d6d;
  width: 100%;
  text-align: center;
}

@import "config/configs";
.wrapper {
  width  : 100vw;
  background-image: image-url("tennis-background-image.jpeg");
  background-size: cover;
  @import "modules/header";
  .main {
    padding-top: 100px; /* ヘッダー分 */
    width  : 100%;
    height: calc( 100% - 30px); /* フッター分 */
    display: flex;
    @import "modules/content_start";
    @import "modules/content_left";
    @import "modules/content_center";
    @import "modules/content_right";
    @import "modules/content_chat";
  }
  @import "modules/footer";
}
